{% extends 'base.html' %}
{% block title %} About | eCoder {% endblock %}
{% block body %}
<div class="container my-2">
    <div class="p-3 my-2 bg-info rounded-3">
        <div class="container-fluid my-2">
            <h1 class="text-center fw-bold">Welcome to eCoders</h1>
            <hr class="my-1"/>
            <p>Post your thinking on tech and coding and connect with millions of readers.</p>
        </div>
    </div>
    <div class="p-2 my-2">
        eCoders is a tech blog made with Django.
        <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sunt, unde aut labore aspernatur accusamus laudantium quos.</p>
    </div>
</div>
{% endblock %}